.fon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 110, 110, 0.5);
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}

.fon.active {
  visibility: visible;
  opacity: 1;
}

.bord {
  width: 300px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 223, 223);
  padding: 20px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.bord.active {
  visibility: visible;
  opacity: 1;
}

.close {
  color: #a86b6b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(82, 5, 5);
  text-decoration: none;
  cursor: pointer;
}

.but {
  width: 200px;
  height: 50px;
  font-size: 24px;
}